<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <title>Editing User Details</title>
</head>
<body>
<form action="#" th:action="@{'/updateAndSave'}"
      method="post" th:object="${user}">
    <table border="1" cellpadding="10" align="center">

        <tbody>
        <tr>
            <td> <label >name:</label><input type="text" th:field="*{name}"/>
            </td>
        </tr>
        <tr>
            <td> <label >id</label><input type="text" th:field="*{id}" readonly/>
            </td>
        </tr>
        <tr>
            <td> <label >department:</label><input type="text" th:field="*{department}" readonly/>
            </td>
        </tr>
        <tr>
            <td> <label >email:</label><input type="text" th:field="*{email}"/>
            </td>
        </tr>
        <tr>
            <td> <label >username:</label><input type="text" th:field="*{username}" readonly/>
            </td>
        </tr>
        <tr>
            <td><label>select your availability:</label><br>
                <span style="alignment: center", th:align="center"><input type="checkbox" th:field="*{availability}"  th:value="monday"/> <label >monday</label><br>
            <input type="checkbox" th:field="*{availability}"  th:value="tuesday"/> <label >tuesday</label><br>
            <input type="checkbox" th:field="*{availability}"  th:value="wednesday"/> <label >wednesday</label><br>
            <input type="checkbox" th:field="*{availability}"  th:value="thursday"/> <label >thursday</label><br>
            <input type="checkbox" th:field="*{availability}"  th:value="friday"/> <label >friday</label><br>
            <input type="checkbox" th:field="*{availability}"  th:value="saturday"/> <label >saturday</label><br>
            <input type="checkbox" th:field="*{availability}"  th:value="sunday"/> <label >sunday</label><br>
            </span></td>
        </tr>
        </tbody>
    </table>
    <p align="center" ><button type="submit" >submit</button></p>
</form>
</body>
</html>