<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head style="margin-top: 1%" th:insert="HeaderBar">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Home page</title>
</head>
<body style="margin-top: 4%; margin-left: 10%; margin-right: 10%">
welcome to 55 bridesbirg drive
</body>
<p >you should be registered to proceed further.</p>
<p >if you are not registered please contact the adminstration department to provide your credentials</p>
</html>