<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password-reset page</title>
</head>
<body>
<form action="#" th:action="@{'/SavePassword'}"
       th:object="${passwords}" method="post">
    <table border="1" cellpadding="10" align="center">

        <tbody>
        <tr>
            <td> <label >old password</label><input type="text" th:field="*{oldPassword}"/>
            </td>
        </tr>
        <tr>
            <td> <label >new pasword</label><input type="text" th:field="*{newPassword}"/>
            </td>
        </tr>
        <tr>
            <td> <button type="submit" >submit</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>